<div class="div-flex">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="email">Email: </label>
            <input type="text" formControlName="email" />
        </div>
        <div>
            <label for="password">Jelszó: </label>
            <input type="password" formControlName="password" />
        </div>
        <div>
            <label for="rePassword">Jelszó ismét: </label>
            <input type="password" formControlName="rePassword" />
        </div>
        <div formGroupName="name">
            <div>
                <label for="firstname">Keresztnév: </label>
                <input type="text" formControlName="firstname" />
            </div>
            <div>
                <label for="firstname">Vezeteéknév: </label>
                <input type="text" formControlName="lastname" />
            </div>
        </div>
        <div>
            <button type="submit">Regisztráció</button>
        </div>
    </form>
</div>