<app-bar></app-bar>
<div class="container">
    <div class="left-side" *ngIf="address">
        <h2>Cím adatai</h2>
        <p>Irányítószám: {{ address.code }}</p>
        <p>Város: {{ address.cityName }}</p>
        <p>Utca: {{ address.street }}</p>
        <p>Házszám: {{ address.houseNumber }}</p>
        <p *ngIf="address.apartment">Lakás:{{ address.apartment }}</p>
    </div>
    <div class="right-side">
        <app-address-data (ReadingEmitter)="createReading($event)" [data]="readings" [address]="address"></app-address-data>
    </div>
</div>