<ng-container *ngIf="reader !== 'Civil bejelentés'; else civil">
    <table class="table">
        <thead class="header">
            <tr>
                <th>Dátum</th>
                <th>Mennyiség</th>
                <th>Bejelentő azonosítója</th>
                <th>Lehetőségek</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <ng-container *ngIf="item.id !== underModificationId; else modifyForm">
                    <td>{{ item.date }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.reader }}</td>
                    <td>
                        <button (click)="modifyItem(item)">Modify</button>
                        <button (click)="deleteItem(item)">Delete</button>
                    </td>
                </ng-container>
                <ng-template #modifyForm>
                    <td colspan="3">
                        <form [formGroup]="readingFormMod" class="new">
                            <input type="date" formControlName="date" id="date">
                            <input type="number" formControlName="amount" id="amount">
                        </form>
                    </td>
                    <td><button (click)="saveChanges()">Save</button>
                        <button (click)="cancelModify()">Cancel</button>
                    </td>
                </ng-template>
            </tr>
            <tr>
                <td colspan="4">
                    <form [formGroup]="readingForm" (ngSubmit)="createReading()" class="new">
                        <input type="date" formControlName="date" id="date">
                        <input type="number" formControlName="amount" id="amount">
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-template #civil>
    <table class="table">
        <thead class="header">
            <tr>
                <th>Dátum</th>
                <th>Mennyiség</th>
                <th>Bejelentő azonosítója</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <ng-container>
                    <td>{{ item.date }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.reader }}</td>
                </ng-container>
            </tr>
            <tr>
                <td colspan="3">
                    <form [formGroup]="readingForm" (ngSubmit)="createReading()" class="new" >
                        <input type="date" formControlName="date" id="date">
                        <input type="number" formControlName="amount" id="amount">
                        <button type="submit">Save</button>
                    </form>
                </td>

            </tr>
        </tbody>
    </table>
</ng-template>