<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="email">Email: </label>
            <input type="text" formControlName="email" />
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" formControlName="password" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div>
        <button (click)="register()">Register a Reader account</button>
    </div>
  </div>