<form [formGroup]='addressForm' (ngSubmit)="onSubmit()">
  <div>
    <label for="cityCode">City Code:</label>
    <input type="text" formControlName="cityCode">
  </div>
  <div>
    <label for="cityName">City Name:</label>
    <input type="text" formControlName="cityName">
  </div>
  <div>
    <label for="street">Street:</label>
    <input type="text" formControlName="street">
  </div>
  <div>
    <label for="houseNumber">House Number:</label>
    <input type="text" formControlName="houseNumber">
  </div>
  <div>
    <label for="apartmentNumber">Apartment Number:</label>
    <input type="text" formControlName="apartmentNumber">
  </div>
  <button type="submit" [disabled]="!addressForm.valid">Submit</button>
</form>